.nav-bar-icon-hamburger {
    display: none;
}

.nav-bar-icon-close {
    display: none;
}

@media (max-width: 768px) {
    .nav-bar-icon-hamburger {
        display: block;
    }

    .nav-bar-icon-close {
        display: none;
    }
}