nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
    width: 100%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3rem;
    }
}