:root {
  --main-color:#5265E1;
  --main-color-dark: #242946;
  --secondary-color:#FA5959;
  --text-black: #252b45;
  --text-grey: #9a9b9f;
  --shadow: #9a9b9f83;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  width: 90%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.active-flex {
  display: flex;
}

.active-block {
  display: block;
}