:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --main-color:#5265E1;
  --main-color-dark: #242946;
  --secondary-color:#FA5959;
  --text-black: #252b45;
  --text-grey: #9a9b9f;
  --shadow: #9a9b9f83;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
